body {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: #2c3e50;
  font-family: Timetwist;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font loading hack */
.app-wrapper {
  font-family: Bitgothic;
}

@font-face {
  font-family: 'Bitgothic';
  src: url(/bitmgothic.medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Timetwist';
  src: url(/timetwist.regular.ttf) format('truetype');
}
